<html>
  <head>
    <title>{{ template "title" . }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="BayurGo">
    <meta name="author" content="Wahyu Prasetyo">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="BayurGo Framework"> <!-- website name -->
	<meta property="og:site" content="BayurGo"> <!-- website link -->
	<meta property="og:title" content="BayurGo"> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="BayurGo"> <!-- description shown in the actual shared post -->

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&amp;display=swap" rel="stylesheet">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/fontawesome-all.css" rel="stylesheet">
	<link href="/assets/css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
  </head>
  <body>
    {{ template "content" . }}
  {{ block "footer" .}}{{end}}
</html>