{{define "title" }} Welcome, BayurGo Framework {{end}}
{{define "content" }}
<body>
    
    <!-- Header -->
    <header id="header" class="header bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">

                        <h1>BayurGo Framework</h1>
                        <p class="p-large">Good performance and is faster</p>
                    <p>Version 1.161221</p>

                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
        <!-- <p>Made with Love in Jombang, Indonesia</p> -->


        
    </header> <!-- end of header -->
    <!-- end of header -->
{{end}}